.App {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Oculta cualquier desborde horizontal */
    width: 100vw;
    /* Asegura que el ancho sea el del viewport */
}