.home {
    width: 100%;
    min-height: 90vh;
    /* mejor usar min-height para que crezca si hay más contenido */
    display: flex;
    justify-content: flex-start;
    /* alinear al inicio en vertical */
    align-items: flex-start;
    /* alinear contenido a la izquierda horizontalmente */
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    padding-left: 50px;
    /* para dar margen desde la izquierda */
    box-sizing: border-box;
}

.headerContainer {
    width: auto;
    margin-top: 30px;
}

.headerContainer h1 {
    font-size: 90px;
    font-weight: 500;
    /* no 50, que no es válido */
    color: black;
    margin: 0;
}

.headerContainer p {
    margin: 10px 0;
    font-size: 40px;
    font-weight: lighter;
    color: black;
}

.headerContainer button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #121619;
    height: 50px;
    width: 180px;
    color: white;
    font-size: 20px;
    transition: background-color 0.3s ease-in;
}

.headerContainer button:hover {
    background-color: #07090a;
}

@media only screen and (max-width: 650px) {
    .home {
        justify-content: center;
        align-items: center;
        padding: 20px;
        min-height: auto;
    }

    .headerContainer {
        margin-left: 0;
        border-radius: 10px;
        padding: 20px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #121619;
        color: white;
    }

    .headerContainer h1 {
        font-size: 40px;
        color: white;
        margin-bottom: 10px;
    }

    .headerContainer p {
        font-size: 30px;
        color: white;
        margin-bottom: 20px;
    }

    .headerContainer button {
        background-color: white;
        color: #121619;
        margin-bottom: 30px;
    }

    .headerContainer button:hover {
        background-color: rgb(225, 225, 225);
    }
}